:root {
    --bg-color: #322653;
    --btn-color: #EA1179;
    --box-shadow: 0px 0px 5px var(--btn-color);
    color: white;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
    font-size: 14px;  
    margin-right:30px ;
}
.header-division{
box-shadow: 0 15px 10px  -15px var(--btn-color);
}
header {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    /* border: 2px solid #EA1179; */
    text-decoration: none;
    margin-top: 20px;
}

.logo {
    color: white;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 9px;
    filter: drop-shadow(4px 1px 10px lightpink);
}

nav ul {
    display: flex;
    color: white;
    list-style: none;
    gap: 10px;
}

nav ul li a {
    color: white;
    margin-left: 20px;
}
nav ul li a:hover{
    color:#EA1179;
}
.container{
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    height: 90vh;
    
}
.container .left{
    width: 50%;
}
.container .left p{
    letter-spacing: 2px;
    font-size: 13px;
}
.container .left h1{
    margin: 0;
    font-size: 40px; 
    letter-spacing: 2px;
    line-height: 50px;
}
.container .right{
    width: 50%;
    /* border: 1px solid white; */
    height:100% ;
    padding-bottom: 100px;
}
.container .right img{
   height: 100%;
   margin-left: 0px;
   padding:0px 0px 70px 200px;
   filter: drop-shadow(9px 0px 90px #EA1179);
   /* border-bottom-left-radius:50px ; */
}
.container .left .label{
    color: #EA1179;
}
button{
    background-color: #EA1179;
    border: none;
    margin-top:20px ;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    transition: all 0.3s;
}
button:hover{
    color: black;
    background-color:lightpink;
}